.about-me {
	margin-top: 7em;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 80%;
	gap: 5rem;
	align-items: flex-start;
}

.description {
	opacity: 0;
	animation: fadeIn 2s ease-in;
	animation-fill-mode: forwards;
}

.sam-profile-pic {
	height: 180px;
	margin-top: 3rem;
	border-radius: 35px;
	animation: flip 1s forwards;
	animation-delay: calc(0.1s * var(--i));
}

.sam-description {
	line-height: 1.2em;
	animation: flip 1s forwards;
	animation-delay: calc(0.1s * var(--i));
}

.sam-glow {
	animation: glow 1s ease-in-out infinite alternate;
	color: hsl(54, 64%, 87%);
}

@keyframes flip {
	0%,
	1% {
		transform: rotateY(360deg);
	}
}

@keyframes glow {
	from {
		text-shadow: 0 0 20px #ff0bae;
	}
	to {
		text-shadow:
			0 0 50px #ff0000,
			0 0 50px #e5ff00;
	}
}

@keyframes glow-btn {
	from {
		text-shadow: 0 0 100px #1eff00;
	}
	to {
		text-shadow:
			0 0 100px #ff0000,
			0 0 100px #00ffd5;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.dialog-btn {
	padding: 5px 10px;
	border: 1px solid #0e141b;
	background-color: #3d6174;
	color: #ffffff;
	border-radius: 7px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.dialog-btn:hover {
	background-color: #0056b3;
	color: rgb(255, 255, 255);
	transition: color 0.3s ease;
	animation: glow-btn 1s ease-in-out infinite alternate;
}

.dialog-content {
	background-color: rgba(0, 0, 0, 0.9);
	border: solid #27272a 2px;
	border-radius: 10px;
	padding: 1em 1em 1em 1em;
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	position: fixed;
	top: 8em;
	left: 23em;
	width: 50%;
	height: 50%;
	display: flex;
	z-index: 1000;
	animation: fadeIn 0.4s ease-in;
}
