.footer-container {
	background-color: #182635;
	color: #fff;
	text-align: center;
	/* position: fixed; */
	bottom: 0;
	width: 100%;
	/* left: 0; */
	z-index: 9999;
	padding: 15px 0;
	border: 1px #15212e solid;
}

.footer-links {
	list-style-type: none;
	padding: 0;
}

.footer-links li {
	display: inline-block;
	margin: 0 15px;
}

.footer-links a {
	color: grey;
	text-decoration: none;
}

.footer-links a:hover {
	text-decoration: underline;
}
