@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

.techstack {
	box-sizing: border-box;
}

.techstackh1 {
	color: lightblue;
	position: relative;
	margin: 10px;
	text-align: center;
}

.container {
	display: flex;
	width: 100vw;
	background-image: url('https://static.vecteezy.com/system/resources/previews/001/736/138/original/abstract-dark-blue-blurred-background-with-smoke-vector.jpg');
	height: 100vh;
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 75vh;
	border-radius: 60px;
	color: black;
	cursor: pointer;
	flex: 1;
	margin: 10px;
	margin-top: 100px;
	position: relative;
	-webkit-transition: all 600ms ease-in;
}

.panel h3 {
	overflow-x: hidden;
	font-size: 24px;
	position: relative;
	bottom: 0px;
	left: 0px;
	margin: 0;
	opacity: 0;
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(
		-225deg,
		#231557 0%,
		#03fcf0 29%,
		#1abc9c 50%,
		#16a085 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 5s linear infinite;
	font-size: 24px;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.panel.active {
	flex: 4;
	box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.2);
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
	.container {
		width: 100vw;
	}

	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}
