body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	font-size: 21px;
	font-family:
		SF Pro Display,
		SF Pro Icons,
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif;
	color: grey;
	background-color: hsl(212deg, 32%, 8%);
}

h1,
h2,
h3,
h4,
h5,
h6 strong {
	color: hsl(0deg, 0%, 100%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
