body,
.hero {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
html,
body {
	height: 100%;
}
.hero {
	height: 100%;
	display: flex; /* Makes sure .hero is a flex container */
	justify-content: center; /* Center children horizontally */
	align-items: center; /* Center children vertically */
}
